Django==6.0.7
djangorestframework==3.17.1
django-cors-headers==4.9.0
django-elasticsearch-dsl==9.0
elasticsearch==9.4.1
psycopg[binary]==3.3.4
Pillow==12.3.0
celery==5.6.3
redis==8.0.1
stripe==15.3.1
gunicorn==23.0.0
